<section>
  <h1>Recently Read</h1>
      <style type="text/css" media="screen">
        .gr_grid_container {
          /* customize grid container div here. eg: width: 500px; */
        }

        .gr_grid_book_container {
          /* customize book cover container div here */
          float: left;
          width: 39px;
          height: 60px;
          padding: 0px 0px;
          overflow: hidden;
        }
      </style>
      <div id="gr_grid_widget_1386169214">
        <!-- Show static html as a placeholder in case js is not enabled - javascript include will override this if things work -->
          <div class="gr_grid_container">
    <div class="gr_grid_book_container"><a href="https://www.goodreads.com/book/show/2196802.Henry_V" title="Henry V  "><img alt="Henry V" border="0" src="https://d202m5krfqbpi5.cloudfront.net/books/1266625690s/2196802.jpg" /></a></div>
    <div class="gr_grid_book_container"><a href="https://www.goodreads.com/book/show/399754.Henry_IV_Part_2" title="Henry IV, Part 2"><img alt="Henry IV, Part 2" border="0" src="https://d202m5krfqbpi5.cloudfront.net/books/1348216468s/399754.jpg" /></a></div>
    <div class="gr_grid_book_container"><a href="https://www.goodreads.com/book/show/286813.Henry_IV_part_1" title="Henry IV, part 1"><img alt="Henry IV, part 1" border="0" src="https://d202m5krfqbpi5.cloudfront.net/books/1173419747s/286813.jpg" /></a></div>
    <div class="gr_grid_book_container"><a href="https://www.goodreads.com/book/show/16160797-the-cuckoo-s-calling" title="The Cuckoo's Calling (Cormoran Strike, #1)"><img alt="The Cuckoo's Calling" border="0" src="https://d202m5krfqbpi5.cloudfront.net/books/1373868343s/16160797.jpg" /></a></div>
    <div class="gr_grid_book_container"><a href="https://www.goodreads.com/book/show/3619768-richard-the-second" title="Richard the Second (The Pelican Shakespeare)"><img alt="Richard the Second" border="0" src="https://d202m5krfqbpi5.cloudfront.net/books/1266763233s/3619768.jpg" /></a></div>
    <div class="gr_grid_book_container"><a href="https://www.goodreads.com/book/show/16131189-mo-meta-blues" title="Mo' Meta Blues: The World According to Questlove"><img alt="Mo' Meta Blues: The World According to Questlove" border="0" src="https://d202m5krfqbpi5.cloudfront.net/books/1368424961s/16131189.jpg" /></a></div>
    <div class="gr_grid_book_container"><a href="https://www.goodreads.com/book/show/60116.Reinventing_Comics" title="Reinventing Comics: How Imagination and Technology Are Revolutionizing an Art Form"><img alt="Reinventing Comics: How Imagination and Technology Are Revolutionizing an Art Form" border="0" src="https://d202m5krfqbpi5.cloudfront.net/books/1348011092s/60116.jpg" /></a></div>
    <div class="gr_grid_book_container"><a href="https://www.goodreads.com/book/show/603258.King_Lear" title="King Lear"><img alt="King Lear" border="0" src="https://d202m5krfqbpi5.cloudfront.net/books/1176209129s/603258.jpg" /></a></div>
    <div class="gr_grid_book_container"><a href="https://www.goodreads.com/book/show/2014876.Macbeth" title="Macbeth  "><img alt="Macbeth" border="0" src="https://d202m5krfqbpi5.cloudfront.net/books/1266461270s/2014876.jpg" /></a></div>
    <div class="gr_grid_book_container"><a href="https://www.goodreads.com/book/show/209261.The_Merchant_of_Venice" title="The Merchant of Venice"><img alt="The Merchant of Venice" border="0" src="https://d202m5krfqbpi5.cloudfront.net/books/1266496656s/209261.jpg" /></a></div>
    <div class="gr_grid_book_container"><a href="https://www.goodreads.com/book/show/8251040-till-we-have-faces" title="Till We Have Faces"><img alt="Till We Have Faces" border="0" src="https://d202m5krfqbpi5.cloudfront.net/books/1274246307s/8251040.jpg" /></a></div>
    <div class="gr_grid_book_container"><a href="https://www.goodreads.com/book/show/10954979-the-swerve" title="The Swerve: How the World Became Modern"><img alt="The Swerve: How the World Became Modern" border="0" src="https://d202m5krfqbpi5.cloudfront.net/books/1327894518s/10954979.jpg" /></a></div>
    <div class="gr_grid_book_container"><a href="https://www.goodreads.com/book/show/3637771-measure-for-measure" title="Measure for Measure (The Pelican Shakespeare)"><img alt="Measure for Measure" border="0" src="https://d202m5krfqbpi5.cloudfront.net/books/1266780587s/3637771.jpg" /></a></div>
    <div class="gr_grid_book_container"><a href="https://www.goodreads.com/book/show/818478.Stardust" title="Stardust"><img alt="Stardust" border="0" src="https://d202m5krfqbpi5.cloudfront.net/books/1347791633s/818478.jpg" /></a></div>
    <div class="gr_grid_book_container"><a href="https://www.goodreads.com/book/show/13588394-the-signal-and-the-noise" title="The Signal and the Noise: Why So Many Predictions Fail - But Some Don't"><img alt="The Signal and the Noise: Why So Many Predictions Fail - But Some Don't" border="0" src="https://d202m5krfqbpi5.cloudfront.net/books/1355058876s/13588394.jpg" /></a></div>
    <div class="gr_grid_book_container"><a href="https://www.goodreads.com/book/show/6751.Consider_the_Lobster_and_Other_Essays" title="Consider the Lobster and Other Essays"><img alt="Consider the Lobster and Other Essays" border="0" src="https://d202m5krfqbpi5.cloudfront.net/books/1385180018s/6751.jpg" /></a></div>
    <div class="gr_grid_book_container"><a href="https://www.goodreads.com/book/show/9561866-how-to-write-a-sentence" title="How to Write a Sentence: And How to Read One"><img alt="How to Write a Sentence: And How to Read One" border="0" src="https://d202m5krfqbpi5.cloudfront.net/books/1340733844s/9561866.jpg" /></a></div>
    <div class="gr_grid_book_container"><a href="https://www.goodreads.com/book/show/10664113-a-dance-with-dragons" title="A Dance with Dragons (A Song of Ice and Fire, #5)"><img alt="A Dance with Dragons" border="0" src="https://d202m5krfqbpi5.cloudfront.net/books/1327885335s/10664113.jpg" /></a></div>
    <div class="gr_grid_book_container"><a href="https://www.goodreads.com/book/show/99148.No_44_The_Mysterious_Stranger" title="No. 44, The Mysterious Stranger (Mark Twain Library)"><img alt="No. 44, The Mysterious Stranger" border="0" src="https://d202m5krfqbpi5.cloudfront.net/books/1347666624s/99148.jpg" /></a></div>
    <div class="gr_grid_book_container"><a href="https://www.goodreads.com/book/show/13497.A_Feast_for_Crows" title="A Feast for Crows (A Song of Ice and Fire, #4)"><img alt="A Feast for Crows" border="0" src="https://d202m5krfqbpi5.cloudfront.net/books/1358261107s/13497.jpg" /></a></div>
  <noscript><br/>Share <a href="/">book reviews</a> and ratings with Dan, and even join a <a href="/group">book club</a> on Goodreads.</noscript>
  </div>

      </div>
      <script src="https://www.goodreads.com/review/grid_widget/11187883.Books?cover_size=small&hide_link=true&hide_title=true&num_books=20&order=d&shelf=read&sort=date_read&widget_id=1386169214" type="text/javascript" charset="utf-8"></script>
</section>

